
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  /* font-family: 'Permanent Marker', cursive; */
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
/* font-family: 'DM Sans', sans-serif; */

.navbar {
    background-color: #DADADA;
}

div>a>img {
  height: 20rem;
  width: auto;
  margin: 0 0 0 3rem;

}

.btn {
  border-color: #BB55B6;
}

#carouselExampleCaptions > div > div:nth-child(1) > div {
  width:20rem;
  height: 5rem;
}

#carouselExampleCaptions > div > div.carousel-item.active {
  background-color: #8135CC;
  color: white;
}

#carouselExampleCaptions {
  width: 80rem;
  height: 10rem;
}

#carouselExampleCaptions > div > div.carousel-item.active > img {
  width: 10rem;
  height: auto;
}

.offre {
 margin: 0 0 0 10rem;
}