@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* font-family: 'Permanent Marker', cursive; */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
/* font-family: 'DM Sans', sans-serif; */

html {
  font-family: "DM Sans", sans-serif;
}



html {
  font-family: "DM Sans", sans-serif;
}



.navbar {
  background-color: #dadada;
}

.superposition {
  position: absolute;
  font-size: medium;
  text-align: left;

  font-family: 'Permanent Marker', cursive;
}



.dropdown-menu {
  background-color: #dadada;
}

.btn {
  background-color: #bb55b6;
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
  color: white;
}

.btn2 {
  background-color: #bb55b6;
  font-family: "DM Sans", sans-serif;
  width: 8rem;
  height: 2rem;
  font-size: 0.8rem;
  border-radius: 5px;
  color: white;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  background-image: url(../img/dice-658643_1280.png);
}
@media (max-width: 450px) {
  .wrapper {
    margin: 0;
    padding: 10px;
    width: 100%;
    background-image: url(../img/dice-658643_1280.png);
  }
}

#carouselExampleCaptions {
  width: 70%;
  margin: 0 auto;
}

body > div.wrapper > button.carousel-control-prev {
  margin-top: 20rem;
  margin-left: 18rem;
  height: 2rem;
  width: auto;
}

body > div.wrapper > button.carousel-control-next {
  margin-top: 20rem;
  margin-right: 22rem;
  height: 2rem;
  width: auto;
}


@media (max-width: 450px) {
  body > div.wrapper > button.carousel-control-prev {
    margin-top: 10rem;
    margin-left: 10rem;
  }

  body > div.wrapper > button.carousel-control-next {
    margin-top: 10rem;
    margin-right: 10rem;
  }
}

#carouselExampleCaptions>div>div:nth-child(1)>div {
  width: 20rem;
  height: 5rem;
  margin: 0 auto;
}

#carouselExampleCaptions>div>div.carousel-item.active>div {
  margin-bottom: 5rem;
  margin-left: 12rem;
}

#carouselExampleCaptions>div>div.carousel-item.active {
  background-color: #3350d4;
  color: white;
  height: 10rem;
}

#carouselExampleCaptions>div>div.carousel-item.active>img {
  width: 9rem;
  height: auto;
  margin-left: 6rem;
  display: flex;
  float: left;
}

.offre {
  margin: 0 auto;
  font-size: xx-large;
  font-family: "Permanent Marker", cursive;
}

.vingt {
  font-size: medium;
  font-family: 'DM Sans', sans-serif;
  font-family: "DM Sans", sans-serif;
}

.carousel-item {
  margin: 0 auto;
  font-size: large;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

#carouselExampleCaptions>div>div.carousel-item.active>p {
  margin-top: 3rem;
  text-align: left;
  margin-right: 10rem;
}

#carouselExampleCaptions > div > div.carousel-item.active > div > p:nth-child(3) > a {
  background-color: #bb55b6;
  margin-left:  10rem;
  width: 9rem;
  height: 2rem;
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  color: white;
}

.card {
  width: 18rem;
  background-color: #8135cc;
  margin: 2rem 2rem 2rem 2rem;
  font-size: x-large;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: white;
}

.container {
  font-family: "DM Sans", sans-serif;
  color: black;
}

.nav-item:hover {
  background-color: #BB55B6;
}

@media (max-width: 900px) {

  .categories {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .card {
    height: auto;
  }
}