@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
/* font-family: 'DM Sans', sans-serif; */

html {
  font-family: "DM Sans", sans-serif;
}

body {
  width: 100%;
  background-image: url(../img/dice-658643_1280.png);
  background-position: center;
  background-size: 40%;
}

.navbar {
  background-color: #dadada;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin: 0
}

.dropdown-menu {
  background-color: #dadada;
}

.btn {
  background-color: #bb55b6;
  font-family: 'DM Sans', sans-serif;
  width: 8rem;
  height: 2rem;
  font-size: 0.8rem;
  margin-left: 20rem;
}

div>a>img {
  height: 20rem;
  width: auto;
  margin: 0 0 0 3rem;

}

#carouselExampleCaptions {
  width: 70%;
  margin: 0 auto;
}

body>button.carousel-control-prev {
  margin: 10rem;
}

body>button.carousel-control-next {
  margin: 10rem;
}

#carouselExampleCaptions>div>div:nth-child(1)>div {
  width: 20rem;
  height: 5rem;
  margin: 0 auto;
}

#carouselExampleCaptions>div>div.carousel-item.active>div {
  margin-bottom: 5rem;
  margin-left: 12rem;
}

#carouselExampleCaptions>div>div.carousel-item.active {
  background-color: #3350D4;
  color: white;
  height: 10rem;
}


#carouselExampleCaptions>div>div.carousel-item.active>img {
  width: 9rem;
  height: auto;
  margin-left: 6rem;
  display: flex;
  float: left;
}

.offre {
  margin: 0 auto;
  font-size: xx-large;
  font-family: 'Permanent Marker', cursive;
}

.vingt {
  font-size: medium;
  font-family: 'DM Sans', sans-serif;
  }

.carousel-item {
  margin: 0 auto;
  font-size:large;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}
#carouselExampleCaptions > div > div.carousel-item.active > p {
  margin-top:3rem;
  text-align: left;
  margin-right: 6rem;
}

#carouselExampleCaptions>div>div.carousel-item.active>div>p:nth-child(2)>a {
  background-color: #BB55B6;
  margin-top: 1rem;
  width: 9rem;
  height: 2.5rem;
  font-size: 1rem;
  font-family: 'DM Sans', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 4rem;
}

.card {

    background-color: #8135CC;
    font-family: 'DM Sans', sans-serif;
  
  }
  body > div.listcard1.text-center.row.justify-content-evenly.mt-4 > div:nth-child(1) > div > p.card-text.text-white {
    font-size: 1rem;
  }

  body > div.listcard1.text-center.row.justify-content-evenly.mt-4 > div:nth-child(1) > div > h5 {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
  }

  body > div.listcard1.text-center.row.justify-content-evenly.mt-4 > div:nth-child(1) > div > p:nth-child(3) {
    color: white;
    font-size: 1.5rem;
  }

  body > div.listcard1.text-center.row.justify-content-evenly.mt-4 > div:nth-child(2) > div > h5 {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
  }

  body > div.listcard1.text-center.row.justify-content-evenly.mt-4 > div:nth-child(3) > div > h5 {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
  }

  body > div.listcard2.text-center.row.justify-content-evenly.mt-5 > div:nth-child(1) > div > h5 {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
  }
  body > div.listcard2.text-center.row.justify-content-evenly.mt-5 > div:nth-child(2) > div > h5 {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
  }

  body > div.listcard1.text-center.row.justify-content-evenly.mt-4 > div:nth-child(2) > div > p:nth-child(3){
    color: white;
    font-size: 1.5rem;
  }

  body > div.listcard1.text-center.row.justify-content-evenly.mt-4 > div:nth-child(3) > div > p:nth-child(3){
    color: white;
    font-size: 1.5rem;
  }

  body > div.listcard2.text-center.row.justify-content-evenly.mt-5 > div:nth-child(1) > div > p:nth-child(3) {
    color: white;
    font-size: 1.5rem;
  }

  body > div.listcard2.text-center.row.justify-content-evenly.mt-5 > div:nth-child(2) > div > p:nth-child(3) {
    color: white;
    font-size: 1.5rem;
  }

  .container {
    font-family: 'DM Sans', sans-serif;
    color: black;
  }

  .nav-item:hover{
    background-color: #BB55B6;
  }